@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 11, 15, 14;

  --foreground-hex: #f5f5f5;
  --background-hex: #0b0f0e;
}

body {
  color: var(--foreground-hex);
  background: var(--background-hex);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
